
<html>



<head>
    <h2>"Absent Details" </h1>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <p>
        Following is the absent days details: <br><br>1/6/2020<br><br> 2/6/2021<br><br> 3/6/2021<br> <br>4/6/2021
    </p>
</body>

</html>