<!DOCTYPE html>

<html>

<head>
    <h1>"Leave and Attendance" </h1>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<a href="/absentDays">AbsentDays</a>
<a href="/holidayCalendar">HolidayCalendar</a>
<a href="/leaveBalance">LeaveBalance</a>
<a href="/absentDetails">AbsentDetails</a>

</body>

</html>