
<html>



<head>
    <h2>"Leave Balance" </h1>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <p>
        CL/Contingency Leave - 6 - 31/12/2021 <br><br>Optional Holiday - 3 - 31/12/2021<br> <br>Special Privilege Leave - 10 - 31/12/2021
    </p>
</body>

</html>